
:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}


* {
  font-weight: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  line-height: 13px;
  -print-color-adjust: exact ;
  -webkit-text-size-adjust: none;
}


html {
  margin-top: 0px;
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: inherit
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer
}

/* @media (min-width:1700px) {
  html {
    display: flex;
    margin-top: 1px
  }
} */


@media (max-width:614px) {
  body {
    width: 100vw;
    margin-top: 30px;
  }
  html {
    margin-left: 1vw;
  }
}

::-webkit-scrollbar {
  width: 10%;
  height: 4px
}

::-webkit-scrollbar-thumb {
  background: gray;
  width: 10px;
  height: 1px
}
