canvas {
  display: flex;
  flex-direction: left;
  width: 10px;
  height: 10px;
  touch-action: none ;
  transition: ease-in .1s;
  overflow-y:hidden !important;

}


#interface {
  display: flex;
  flex-direction: left;
  width: fit-content;
  height: 20vh ;
  max-height: 200px;
  overflow-y:hidden !important;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#threeJsTable {
  min-height: 100px;
  max-height: 300px;
  /* min-width: 400px; */
  /* margin-left: 120px; */
  width: 100vw ;
  overflow-y:hidden !important;
  max-width: 730px ;
  height: 40vh;
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
  flex-direction: left;

}



#siteDirectory {
  /* margin-top: 10px; */
  min-width: 170px;
  max-width: 200px;
  /* justify-content: left; */
  /* height: auto; */
  /* flex-direction: right; */
  /* transition:ease-in.1s; */
  max-height: 140px;
  /* overflow-y: scroll ; */
  z-index:10;
}

/*  */

@media (max-width: 614px) {
  #interface {
    display: block;
    flex-direction: center;
    height: 90vh ;
    max-height: calc(26vh + 35px);
  }

  #threeJsTable {
    min-height: 3px;
    max-height: 880px;
    width: 97.3vw;
    height: 26vh;
    max-width: 700px;
  }

  #sitedirectory {
    width: 100vw ;
    max-width: 100vw ;
    height: 100px;
    text-align: right;
    /* padding-right: 20px; */
    -webkit-columns: 20px 2 ;
    /* Chrome, Safari, Opera */
    -moz-columns: 60px 2 ;
    /* Firefox */
    columns: 60px 2 ;
    padding-right: 3px;
  }
}


.dark-mode ::-webkit-scrollbar-track {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1) ;

}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 13px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}
