.react-tabs {
  -webkit-tap-highlight-color: transparent;
  margin-top: 11px;
  /* max-width: 950px; */

}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
  width: 98vw;
  max-width: 1000px;
  margin-right: 3vw;
  height: auto;
  position: absolute;
  top: 10px;
  left: 0;
}

.react-tabs__tab {
  display: inline;
  /* border: 1px solid transparent; */
  /* border-bottom: none; */
  bottom: -1px;
  /* position: relative; */
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}


.react-tabs__tab--selected {
  /* border-color: #aaa; */
  max-width: 26.9px;
}

.react-tabs #dm {
  position: relative;
  outline: none;
  box-shadow: none;
  bottom: -1px;
  display: inline;
  padding: 1px 6px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.react-tabs__tab--disabled {
  cursor: default;

}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
}

.react-tabs__tab-panel {
  display: none;

}

.react-tabs__tab-panel--selected {
  display: block;
}
