table {
  /* max-width: 900px ; */
  margin-bottom: 17px ;
  margin-top: 10px ;
  display: inline-block!important;
  border-spacing: 0;
  vertical-align: middle;
  overflow: auto ;
  width:100vw;
  /* position: relative; */
  max-width: 900px !important;
}


thead {
  max-height:15px;
}

tr{
  overflow: hidden;
}

#carrier{
  display: flex;
}
#sp{
  width:445px;
  display: flex;
}

#seperate{
  width:10px;
  display: flex;
}

th {
  /* border-left: 1px solid lightgray; */
  text-align: left;
  position: relative ;
  white-space: nowrap ;
  height:15px;
  padding: 1px;
  /* overflow-x: visible; */
}
tbody{
  max-width: 900px !important;
}

td {
  /* padding: 1px 0px ; */
  white-space: nowrap ;
  position: relative ;
  padding: 1px;
  height:1.07rem;
}


#fill {
  height: 17px;
}

#tableTitle {
  visibility: hidden;
}

.light-mode td {
  border-bottom: .51px dotted rgba(128, 0, 128, .44) ;
  border-right: 1px dotted rgba(0, 0, 255, .24) ;
}

.dark-mode td {
  border-bottom: 1px dotted rgba(60, 230, 202, .4) ;
  border-right: 1px dotted rgba(116, 137, 47, .6) ;
}


tfoot {
  color: gray;
}

tfoot .th {
  font-weight: normal;
}

#pagination button {
  outline: none;
  box-shadow: none;
  margin-right: 21.6px ;

}

table button:focus {
  outline: none;
  box-shadow: none;

}



#pagination {
  margin-left: 6px;
  justify-content: space-between ;
  align-items: stretch ;
  flex-wrap: wrap ;
  padding: 3px ;
  box-shadow: 0 0 0px 0 rgb(0 0 0 / 10%) ;
  border-top: 0px solid rgba(0, 0, 0) ;
 }

.resizer {
  display: inline-block ;
  background: rgba(0, 0, 0, 0) ;
  position: absolute ;
  right: 0 ;
  top: 0 ;
  transform: translateX(50%) ;
  z-index: 1 ;
  touch-action: none ;
}

#auth {
  color: gray;
}



#date {
  bottom: 1px ;
  position: relative;
  bottom: 1px;
  position: relative;
}


tr#fill{
  width:100px;
}



#p {
  /* display: flex;
  width:96vw;
  justify-content: space-between; */
  display: block;
  flex-direction: center;
  /* margin-right: 2vw; */
}
#child {
  /* display: inline-block; */
  /* vertical-align: middle; */
  max-width: 9000px!important;
/* padding-right: 1100px; */
} 

#center{
  width:10px;
}
@media (max-width: 600px) {
  #carrier{
    display: block;
  }
  #sp{
    min-width:100vw;
  }
  #p {
    display: block;
    flex-direction: center;
  }
  #child {
    display: inline-block;
    /* vertical-align: middle; */
    max-width: 9000px!important;
  /* padding-right: 1100px; */
  
  } 
  table {
    width:100vw;
    /* position: relative; */
    max-width: 900px;
  }
}
